.navbar{
        margin-right:6px;
        margin-left:6px:
        margin-top:6px;
        margin-bottom:6px;
}
h1{
        font-size:xx-large;
}
body {
        background-color:lightgreen;
        font-family:monospace;
        color:green;
}
img {
        border:darkgreen solid 6px;
}
.banner{
        width:600px;
        height:200px;
}
