.all{ 
       
}
body{
     background-color:lightgreen;
     font-family:monospace;
     color:green;
     align:center;      
}
.navbar{
        margin-right:6px;
        margin-left:6px:
        margin-top:6px;
        margin-bottom:6px;
}
h1{
        font-size:xx-large;
}

img {
        border:darkgreen solid 6px;
}
.banner{
       width:600px;
       height:185px;
}
