.navbar{
        margin-right:6px;
        margin-left:6px:
        margin-top:6px;
        margin-bottom:6px;
}
h1{
        color:green;
        font-size:xx-large;
}
body {
        background-color:lightgreen;
        font-family:monospace;
}
img {
        border:darkgreen solid 6px;
}
